version: '3'
services:

  dsw-server:
    image: datastewardshipwizard/wizard-server:3.3.0
    restart: always
    ports:
      - 3000:3000
    depends_on:
      - postgres
      - minio
    volumes:
      - ./dsw.yml:/application/engine-wizard/config/application.yml:ro

  dsw-client:
    image: datastewardshipwizard/wizard-client:3.3.0
    restart: always
    ports:
      - 8080:80
    environment:
      API_URL: http://localhost:3000

  docworker:
    image: datastewardshipwizard/document-worker:3.3.0
    restart: always
    depends_on:
      - postgres
      - minio
      - dsw-server
    volumes:
      - ./dsw.yml:/app/config.yml:ro

  postgres:
    image: postgres:13.2
    restart: always
    # (!) Expose only for debugging locally or set-up authentication
    # ports:
    #   - 127.0.0.1:15432:5432
    environment:
      POSTGRES_DB: engine-wizard
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    # (!) Mount for persistent data
    # volumes:
    #  - db-data:/var/lib/postgresql/data
    # OR
    #  - ./db-data/data:/var/lib/postgresql/data

  minio:
    image: minio/minio:RELEASE.2021-04-22T15-44-28Z
    command: server /data
    # (!) Expose only for debugging locally or set-up authentication
    # ports:
    #   - 127.0.0.1:19000:9000
    # (!) Mount and backup for persistent data
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minioPassword
    # (!) Mount for persistent data
    # volumes:
    #  - s3-data:/data
    # OR
    #  - ./s3-data/data:/data

# volumes:
#   db-data:
#   s3-data:
