version: '3'
services:

  dsw_server:
    image: datastewardshipwizard/wizard-server:2.2.0
    restart: always
    hostname: dsw_server
    # (!) Do not expose ports if using proxy
    ports:
      - 3000:3000
    depends_on:
      - rabbitmq
      - mongo
    volumes:
      - ./server/application.yml:/application/engine-wizard/config/application.yml:ro
      - ./server/integration.yml:/application/engine-wizard/config/integration.yml:ro
      - dmp-templates:/application/engine-wizard/templates/dmp:ro

  dsw_client:
    image: datastewardshipwizard/wizard-client:2.2.0
    restart: always
    hostname: dsw_client
    # (!) Do not expose ports if using proxy
    ports:
      - 8080:80
    environment:
    # (i) Change to your domain if using proxy: domain.tld:3443
      API_URL: http://localhost:3000
    # (i) If you want to adjust look&feel/branding
    #volumes:  
    #  - ./client/extras.scss:/src/scss/customizations/_extras.scss:ro
    #  - ./client/overrides.scss:/src/scss/customizations/_overrides.scss:ro
    #  - ./client/variables.scss:/src/scss/customizations/_variables.scss:ro
    #  - ./client/assets:/usr/share/nginx/html/assets:ro

  docworker:
    image: datastewardshipwizard/document-worker:2.2.0
    depends_on:
      - rabbitmq
    volumes:
      - ./docworker/config.cfg:/app/config.cfg:ro
      - dmp-templates:/app/templates:ro

  mongo:
    image: mongo:4.2.3
    restart: always
    # (!) Expose only for debugging locally or set-up authentication
    # ports:
    #   - 27017:27017
    # command: mongod --auth
    # environment:
    #   MONGO_INITDB_ROOT_USERNAME: admin
    #   MONGO_INITDB_ROOT_PASSWORD: secure-password
    # (!) Mount and backup for persistent data
    # volumes:
    #  - ./mongo/data:/data/db

  rabbitmq:
    image: rabbitmq:3.8.2-management
    restart: always
    # (!) Expose only for debugging locally or set-up authentication
    # ports:
    #   - 15672:15672
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  # (i) Use proxy if you want to expose DSW on some domain
  #     Follow certbot instructions and generate cert with
  #     "webroot -w /var/www/letsencrypt"
  # proxy:
  #   image: nginx:1.17
  #   ports:
  #     - 80:80 #< for certbot (otherwise redirected to 443)
  #     - 443:443 #< for client
  #     - 3443:3443 #< for server/api
  #   volumes:
  #     - ./proxy/nginx:/etc/nginx:ro
  #     - /etc/letsencrypt:/etc/letsencrypt:ro
  #     - /var/www/letsencrypt:/var/www/letsencrypt:ro

volumes:
  dmp-templates:
